<section class="lg:p-20 p-5" id="portfolio">
    <div class="lg:container mx-auto">
        <h2 class="text-center text-4xl font-bold pb-10">Portfolio</h2>
        <div class="lg:columns-4 sm:columns-2">
            @for (project of projects(); track project) {
                <div class="p-5 bg-gray-50 sm:me-5 sm:mb-10 mb-5 rounded-md hover:shadow-md">
                    <h3 class="text-xl mb-5">{{ project.name }}</h3>
                    <a [href]="project.url" target="_blank">
                        <img class="rounded-md h-48 max-h-48 w-full" [srcset]="project.image" />
                    </a>
                    <p class="mt-2 text-sm text-gray-400">{{ project.description }}</p>
                </div>
            }
        </div>
    </div>
</section>