<section id="about" class="lg:p-20 p-5 bg-gray-50">
    <div class="container mx-auto">
        <div class="sm:columns-2">
            <img class="sm:w-1/2 mb-10 sm:mb-0"
                src="https://rabiulislam.dev/documents/images/portfolio/user-full-stack-development-rabiul-islam.png" />
            <div>
                <h2 class="text-bold text-2xl mb-3">Junior Full Stack Web Developer</h2>
                <p class="mb-5 text-sm text-gray-400">Providing web solutions</p>
                <p class="text-gray-500 text-justify leading-10">Hello, I am a Junior web developer full stack, very
                    passionate and dedicated to my work. I have 1 year of experience as a web developer, with this time
                    I have acquired the necessary skills and knowledge to make your project a success. I enjoy every
                    step of the development process, from discussion to collaboration.
                </p>
            </div>
        </div>
    </div>
</section>