<section id="about" class="sm:p-10 lg:p-20 bg-gray-50">
    <div class="container mx-auto">
        <div class="sm:columns-2">
            <img class="sm:w-1/2 mb-10 sm:mb-0"
                src="https://rabiulislam.dev/documents/images/portfolio/user-full-stack-development-rabiul-islam.png" />
            <div>
                <h2 class="text-bold text-2xl mb-3">Junior Full Stack Web Developer</h2>
                <p class="mb-5 text-sm text-gray-400">Proporcionando soluciones web</p>
                <p class="text-gray-500 text-justify leading-10">¡Hola!, Soy un desarrollador Junior web full stack, muy
                    apasionado y dedicado a mi trabajo. Cuento con 1 año de experiencia como desarrollador web, con este
                    tiempo he adquirido las habilidades y conocimientos necesarios para que tu proyecto sea un éxito.
                    Disfruto cada paso del proceso de desarrollo, desde la discusión hasta la colaboración.
                </p>
            </div>
        </div>
    </div>
</section>