
<div class="relative text-gray-800 bg-gray-50">
    <header>
        <nav class="w-full">
            <div class="flex justify-between w-full px-16 py-8">
                <!-- Left Nav -->
                <div>
                    <ul
                        class="flex flex-col text-left md:flex-row space-y-5 md:space-y-0 md:space-x-6 text-xl md:text-2xl">
                        <li class="text-left">
                            <a href="#about">
                                About
                            </a>
                        </li>
                        <li class="text-left">
                            <a href="#portfolio">
                                Portafolio
                            </a>
                        </li>
                        <li class="text-left">
                            <a href="#habilities">
                                habilidades
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <!-- Socials -->
                    <ul class="flex flex-col md:flex-row items-end md:items-center md:space-x-4 space-y-4 md:space-y-0">
                        <li>
                            <a href="https://github.com/ronaldo071515" target="_blank" aria-label="Github"
                                class="hover:text-blue-600">
                                <i class="fab fa-github" id="git"></i>
                            </a>
                        </li>

                        <li>
                            <a href="https://www.linkedin.com/in/ronaldo-torres-656a37189" target="_blank" aria-label="linkedin"
                                class="hover:text-blue-600">
                                <i class="fab fa-linkedin" id="link"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</div>