<section class="sm:p-20 p-5" id="habilities">
    <div class="sm:container mx-auto">
        <h2 class="text-center text-4xl font-bold pb-10">Contact</h2>
        <div class="w-full sm:flex">
            <div class="sm:w-1/2 w-full">
                <div class="mb-5">
                    <h3 class="text-xl">Address</h3>
                    <p class="text-gray-500">Khulna, Bangladesh</p>
                </div>

                <div class="mb-5">
                    <h3 class="text-xl">Email</h3>
                    <a class="text-gray-500" href="mailto:rir.cse.71@gmail.com">rir.cse.71gmail.com</a>
                </div>

                <div class="mb-5">
                    <h3 class="text-xl">Email</h3>
                    <a class="text-gray-500" href="https:wa.me/01750009149">+8801750009149</a>
                </div>
            </div>

            <div class="sm:w-1/2 w-full bg-gray-50 p-10 rounded-md">
                <form action="#">
                    <div class="mt-5 grid grid-cols-1 gap-y-8 sm:grid-cols-6">
                        <div class="sm:col-span-4">
                            <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Name</label>
                            <input type="text" name="username" id="username" autocomplete="username" class="block w-full outline-1 border border-1 flex-1 bg-transparent py-1.5 pl-3 text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6" placeholder="Rabiul Islam">
                        </div>
                    </div>

                    <div class="mt-5 grid grid-cols-1  gap-y-8 sm:grid-cols-6">
                        <div class="sm:col-span-4">
                            <label for="subject" class="block text-sm font-medium leading-6 text-gray-900">Subject</label>
                            <input type="text" name="subject" id="subject" autocomplete="subject" class="block w-full outline-1 border border-1 flex-1 bg-transparent py-1.5 pl-3 text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6" placeholder="Hiring">
                        </div>
                    </div>

                    <div class="mt-5 grid grid-cols-1  gap-y-8 sm:grid-cols-6">
                        <div class="sm:col-span-4">
                            <label for="message" class="block text-sm font-medium leading-6 text-gray-900">Message</label>
                            <textarea name="message" id="message" autocomplete="message" class="block w-full outline-1 border border-1 flex-1 bg-transparent py-1.5 pl-3 text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6" placeholder="Message"></textarea>
                        </div>
                    </div>

                    <div class="mt-5 grid grid-cols-1 gap-y-8 sm:grid-cols-6">
                        <a href="#" class="bg-gray-200 mx-auto w-32 text-center rounded-md p-2 border border-1 border-gray-100 hover:bg-white">Submit</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
