<app-header></app-header>


<section class="p-20">
  <div class="container mx-auto">
    <div class="flex justify-center">
      <div class="flex flex-col gap-5 text-center">
        <img class="rounded-full bg-gray-50 h-52 w-56 mx-auto"
          src="https://avatars.githubusercontent.com/u/42970834?v=4" />
        <div class="flex flex-col gap-3">
          <h1 class="font-bold text-6xl">Ronaldo Torres C.</h1>
          <p class="text-gray-500 text-sm">Junior Full Stack Web Developer (Nodejs, Angular, Postgresql)</p>
        </div>
        <a aria-label="Chat on WhatsApp" href="https://wa.me/573116517493" target="_blank"
          class="bg-gray-50 mx-auto w-32 text-center rounded-md p-2 border border-1 border-gray-100 hover:bg-white">Hire Me</a>
      </div>
    </div>
  </div>
</section>
<main>
  <app-about></app-about>
  <app-portfolio></app-portfolio>
  <app-habilities></app-habilities>
</main>
<app-footer></app-footer>